<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>OneDay Research</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.1.3/css/bootstrap.min.css">
</head>
<body>

<div th:insert="~{fragments/navbar :: nav_bar('Create')}"></div>

<div th:insert="~{fragments/createform-layout :: createform-layout('/research/create')}"></div>

<!--todo: 임시저장 버튼 사이드 바로 옴겨서 구현 해야함 create 일때만-->
<!--            <button type="button" class="btn btn-primary" id="save-button" onclick="updateResearchDTO()">임시저장-->
<!--            </button>-->
<script>

</script>
<script th:inline="javascript">
    /*<![CDATA[*/
    let rsDTO = [[${rsDTO}]];
    let deletedQueryId=[];
    /*]]>*/
</script>
<script>
    // 페이지 로드 시 초기 데이터를 rsDTO 가져와서 suri 폼을 생성합니다.

    window.addEventListener('load', () => {
        // localStorage 저장된 rsDTO 있을 경우 가져옵니다.
        if (localStorage.getItem('rsDTO') && confirm("이전에 작성한 설문이 있습니다. 불러오시겠습니까?" + "\n" + "(취소 시 새로 작성됩니다.)")) {
            rsDTO = JSON.parse(localStorage.getItem('rsDTO'));
            loadRS();
            cntSuriForm();
        } else {
            localStorage.removeItem('rsDTO');
        }
        console.log(rsDTO)
    });

    // rsDTO 이용하여 초기 suri 폼을 생성하는 함수
    function loadRS() {
        if (!rsDTO) return;
        let suriList = rsDTO.suri;
        suriList.sort((a, b) => {
            return a.suri_no - b.suri_no;
        })
        let lastSuriNo = suriList[suriList.length - 1]
        if (lastSuriNo) {
            lastSuriNo = lastSuriNo.suri_no
            for (let i = 1; i <= lastSuriNo; i++) {
                addSuriForm(i);
            }
        }
        //     rsDTO title content date 값을 이용하여 초기 값 설정
        document.getElementById('research-title-input').value = rsDTO.sur_title;
        document.getElementById('research-content-input').value = rsDTO.sur_desc;
        document.getElementById('research-startdate-input').value = rsDTO.sur_sat_date;
        document.getElementById('research-enddate-input').value = rsDTO.sur_end_date;
        // document.getElementById('num-of-questions-input').value = rsDTO.que_cnt;
        const researchTitleInput = document.getElementById('research-title-input');
        const titleHelp = document.getElementById('research-title-input-help');

        // value length 계산하고 내용을 업데이트합니다.
        const inputLength = researchTitleInput.value.length;
        titleHelp.textContent = `${inputLength} / 100 characters`;

        const researchContentInput = document.getElementById('research-content-input');
        const contentHelp = document.getElementById('research-content-input-help');

        const contentLength = researchContentInput.value.length;
        contentHelp.textContent = `${contentLength} / 1000 characters`;

        // Load the Suri forms
        suriList.sort((a, b) => {
            return a.suri_no - b.suri_no;
        });

        for (let i = 0; i < suriList.length; i++) {
            const suri = suriList[i];
            const questionNumber = suri.suri_no;

            // Add a Suri form
            // addSuriForm(questionNumber);

            // Set the Suri title and options (1 to 5)
            for (let j = 1; j <= 5; j++) {
                // Use an empty string if the option is not available
                document.querySelector(`input[name^="suri_que${j}_${questionNumber}"]`).value = suri[`suri_que${j}`] || '';
            }

            // Set the Suri multi value
            document.querySelector(`input[name^="suri_multi_${questionNumber}"]`).value = suri.suri_multi;

            // Set the selected Suri etc. radio button (Yes or No)
            const selectedEtcValue = suri.suri_etc || 'No'; // Use 'No' as the default if not available
            document.querySelector(`input[name^="suri_etc_${questionNumber}"][value="${selectedEtcValue}"]`).checked = true;

            // Set the Suri title (if available)
            // Use an empty string if the title is not available
            document.querySelector(`input[name^="suri_title_${questionNumber}"]`).value = suri.suri_title || '';
        }

    }

</script>
<script src="/js/api/dto.js"></script>
<script src="/js/component/createElement.js"></script>
<script src="/js/validation/formsAndInputs.js"></script>
</body>
</html>