<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>OneDay Research</title>
    <style>
        .link-wide {
            white-space: nowrap; /* 텍스트 줄 바꿈 방지 */
            overflow: hidden; /* 넘치는 텍스트 숨김 */
            /*max-width: none; !* 최대 너비 설정을 해제하여 텍스트가 자동으로 확장됨 *!*/
        }
    </style>
</head>
<body>
<div th:insert="~{fragments/navbar :: nav_bar('research')}"></div>

<section th:fragment="rss">
    <div class="container p-0 text-center mt-5 pt-5">
        <form action="/excel/download" method="get" id="excelDownloadForm" style="display: none;">
            <input type="hidden" name="column" th:value="${rssDTO.column}"> <!-- 검색할 칼럼 -->
            <input type="hidden" name="keyword" th:value="${rssDTO.keyword}"> <!-- 검색어 -->
            <button type="submit" id="excelDownloadButton"></button>
        </form>
        <button type="button" onclick="document.getElementById('excelDownloadButton').click()">Download Excel</button>


        <form th:action="@{/research/list}" method="get">
            <div class="form-group">
                <label for="searchColumn">검색할 칼럼 선택:</label>
                <select id="searchColumn" name="column">
                    <option value="sur_title" th:selected="${rssDTO.getColumn() == 'sur_title'}">제목</option>
                    <option value="reg_name" th:selected="${rssDTO.getColumn() == 'reg_name'}">작성자</option>
                    <option value="sur_content" th:selected="${rssDTO.getColumn() == 'sur_content'}">내용</option>
                </select>
            </div>
            <label>
                <input type="text" name="keyword" placeholder="검색어 입력" th:value="${rssDTO.getKeyword()}">
            </label>
            <input type="hidden" name="pageToGo" th:value="${rssDTO.getPrevPageBlock()}">
            <input type="hidden" name="page" th:value="${rssDTO.getPage()}">
            <input type="hidden" name="startSeq" th:value="${rssDTO.getStartSeq()}">
            <input type="hidden" name="endSeq" th:value="${rssDTO.getEndSeq()}">
            <!--            th:href="@{${url_list}(pageToGo=${rssDTO.getPrevPageBlock()},page=${rssDTO.getPage()},startBoard=${rssDTO.getStartRss()},endBoard=${rssDTO.getEndRss()})-->
            <button type="submit">검색</button>
        </form>

        <table class="table table-hover link-wide">
            <thead>
            <tr>
                <th class="col-1">번호</th>
                <th class="col-2 text-lg-start">설문 제목</th>
                <th class="col-1 ">작성자</th>
                <th class="col-6">설문기간</th>
                <th class="col-2">조회수</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="rss : ${rssDTO.getRSDTO()}">
                <td th:text="${rss.getNo()}"></td>
                <td class="text-lg-start">
                    <a class="title " th:href="@{${'/research/detail'}(sur_seq=${rss.getSur_seq()})}"
                       th:text="${rss.getSur_title()}"
                       onclick="saveBack()"></a>
                </td>
                <td th:text="${rss.getReg_name()}"></td>
                <td class="period" th:text="${rss.sur_sat_date + '~' + rss.sur_end_date}"></td>
                <td th:text="${rss.getHits()}"></td>
<!--                useable === "Y" && editable === "N"-->
                <td th:classappend="${(rss.useable == 'Y' &&rss.editable=='N')  ? '' : 'invisible'}">
                    <a class="btn btn-primary" th:id="${rss.sur_seq}" th:href="@{${'/research/start'}(sur_seq=${rss.sur_seq})}"
                       onclick="saveBack()">설문참여</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <script th:inline="javascript">
        /*<![CDATA[*/
        let rssDTO = [[${rssDTO}]];
        console.log(rssDTO);
        /*]]>*/
    </script>
    <script>
        function saveBack() {
            sessionStorage.setItem("back", window.location.href);
        }

        window.document.addEventListener("DOMContentLoaded", () => {
            let period = document.getElementsByClassName('period');
            let title = document.getElementsByClassName('title');
            for (let i = 0; i < period.length; i++) {

                //     제목 글자 수 제한
                if (title[i].offsetWidth > 500) {
                    title[i].textContent = title[i].textContent.substring(0, 38) + '...';
                }

                //날짜 형식 변경 yy-MM-dd HH:mm ~ yy-MM-dd HH:mm

                let date = period[i].textContent.split('~');
                let startDate = new Date(date[0]);
                let endDate = new Date(date[1]);
                startDate.setHours(startDate.getHours() + 9);
                endDate.setHours(endDate.getHours() + 9);
                period[i].textContent = startDate.toLocaleDateString() + ' - ' + endDate.toLocaleDateString();

                // 날짜 비교
                // console.log("useable::",rssDTO["rsdto"][i]["useable"])
                // console.log("editable::",rssDTO["rsdto"][i]["editable"])

                let useable = rssDTO["rsdto"][i]["useable"];
                let editable = rssDTO["rsdto"][i]["editable"];

                let now = new Date();
                if (useable === "N" && editable === "Y") {
                    title[i].innerHTML = '<span class="badge bg-primary">진행 예정</span> ' + title[i].innerHTML;
                } else if (useable === "N" && editable === "N") {
                    title[i].innerHTML = '<span class="badge bg-secondary">종료</span> ' + title[i].innerHTML;
                } else if(useable === "Y" && editable === "N") {
                    title[i].innerHTML = '<span class="badge bg-success">진행 중</span> ' + title[i].innerHTML;

                }
            }
        })

    </script>
</section>
<nav aria-label="Page navigation">
    <div class="d-flex justify-content-center mb-3 link-wide" style="min-width: 40rem">
        <ul class="pagination w-75">
            <li class="page-item ">
                <a class="page-link " th:href="@{'/research/list'}" aria-label="First">
                    처음
                </a>
            </li>
            <li>
                <a class="page-link "
                   th:href="@{${'/research/list'}(pageToGo=${rssDTO.getPrevPageBlock()},page=${rssDTO.getPage()},startSeq=${rssDTO.getStartSeq()},endSeq=${rssDTO.getEndSeq()}, column= ${rssDTO.getColumn()},keyword =${rssDTO.getKeyword()})}">
                    이전
                </a>
            </li>
            <li class="d-flex justify-content-center w-75">
                <div th:each="page : ${#numbers.sequence(rssDTO.getPageBlockStart(), rssDTO.getPageBlockEnd())}">
                    <div th:class="${rssDTO.getPage() == page} ? 'page-item active d-inline' : 'page-item d-inline'">
                        <a class="page-link text-center" style="width: 3rem"
                           th:href="@{${'/research/list'}(pageToGo=${page},page=${rssDTO.getPage()},startSeq=${rssDTO.getStartSeq()},endSeq=${rssDTO.getEndSeq()}, column= ${rssDTO.getColumn()},keyword =${rssDTO.getKeyword()})}"
                           th:text="${page}"></a>
                    </div>
                </div>
            </li>

            <li>
                <a class="page-link"
                   th:href="@{${'/research/list'}(pageToGo=${rssDTO.getNextPageBlock()},page=${rssDTO.getPage()},startSeq=${rssDTO.getStartSeq()},endSeq=${rssDTO.getEndSeq()},column= ${rssDTO.getColumn()},keyword =${rssDTO.getKeyword()})}">
                    다음
                </a>
            </li>
            <li class="page-item">
                <a class="page-link"
                   th:href="@{${'/research/list'}(pageToGo=${rssDTO.getTotalPage()},page=${rssDTO.getPage()},startSeq=${rssDTO.getStartSeq()},endSeq=${rssDTO.getEndSeq()},column= ${rssDTO.getColumn()},keyword =${rssDTO.getKeyword()})}"
                   aria-label="Last">
                    마지막
                </a>
            </li>
        </ul>

        <div class="d-flex justify-content-end mb-3 ps-5">
            <a class="btn btn-primary link-wide" onclick="create_btn()">만들기</a>
        </div>
    </div>
</nav>
<script>
    function create_btn() {
        let loc = "/research"
        /* global axios */
        axios.get(loc + '/create')
            .then(function () {
                // console.log(response);
                window.location.href = loc + '/create';
                // document.body.innerHTML = response.data;
                // history.pushState(null, '', loc + '/create');
                // onPageLoad();
            })
            .catch(function (error) {
                alert(error)
                console.log(error);
            });
    }
</script>


</body>
</html>