<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>설문 조사 결과</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.1.3/css/bootstrap.min.css">
</head>
<body>
<div th:insert="~{fragments/navbar :: nav_bar('Result')}"></div>
<div class="container">

    <h3 class="my-4">설문 조사 결과</h3>

    <div id="read-only-form">
        <div class="mb-3">
            <label for="research-title-input" class="form-label">설문 제목</label>
            <input type="text" class="form-control" id="research-title-input" name="title"
                   th:value="${rsDTO.sur_title}" disabled>
        </div>
        <div class="mb-3">
            <label for="research-writer-input" class="form-label">작성자</label>
            <input type="text" class="form-control" id="research-writer-input" name="writer"
                   th:value="${rsDTO.reg_name}" disabled>
        </div>
        <!--        기간 (달력 팝업)-->

        <div class="mb-3 row">
            <label for="research-startdate-input" class="col-2 col-form-label">설문 시작</label>
            <div class="col-4">
                <input type="datetime-local" class="form-control" id="research-startdate-input" name="startdate"
                       th:value="${rsDTO.sur_sat_date}" disabled>
            </div>

            <label for="research-enddate-input" class="col-2 col-form-label">설문 종료</label>
            <div class="col-4">
                <input type="datetime-local" class="form-control" id="research-enddate-input" name="enddate"
                       th:value="${rsDTO.sur_end_date}" disabled>
            </div>
        </div>

        <div class="mb-3">
            <label for="research-content-input" class="form-label">설문 설명</label>
            <textarea class="form-control" id="research-content-input" name="content" rows="6"
                      disabled th:text="${rsDTO.sur_desc}"></textarea>
        </div>

        <div class="mb-3">
            <label class="form-label">설문 내용</label>
            <!-- Display questions in read-only mode -->
            <div id="research-query-container">
            </div>
        </div>
    </div>
</div>
<script th:inline="javascript">
    /*<![CDATA[*/
    let rsDTO = [[${rsDTO}]];
    let rsaDTO = [[${rsaDTO}]];
    /*]]>*/
    console.log(rsDTO);
    console.log(rsaDTO);
</script>
<script>
    // todo: 일단 이렇게 하고 나중에 수정 하자

    let result = {}

    rsaDTO.forEach(function (rsa) {
        // console.log("question number::",rsa.sura_no)
        // console.log("option number::",rsa.sura_item)
        let answer = rsa.sura_item.split("")
        // console.log("answer::",answer)
        // if (result[rsa.sura_no] === undefined) then make it!!!!!!
        // console.log(result[rsa.sura_no]);
        if (result[rsa.sura_no] === undefined) {
            result[rsa.sura_no] = {}
        }
        if (result[rsa.sura_no]['total'] === undefined) {
            result[rsa.sura_no]['total'] = 0
        }

        for (let i = 0; i < answer.length; i++) {
            if (result[rsa.sura_no][answer[i]] === undefined) {
                result[rsa.sura_no][answer[i]] = 0
            }
            result[rsa.sura_no][answer[i]] += 1
            result[rsa.sura_no]['total'] += 1
        }

    });
    console.log(result)

</script>
<script>
    function createQuestionElement(question) {
        const questionContainer = document.createElement("div");
        questionContainer.classList.add("suri-form", "mb-3", "border", "border-primary", "p-5");

        // Create a label and input for the question title
        const titleLabel = document.createElement("label");
        titleLabel.classList.add("form-label");
        titleLabel.textContent = `질문 ${question.suri_no}:`;
        questionContainer.appendChild(titleLabel);

        const titleInput = document.createElement("input");
        titleInput.type = "text";
        titleInput.classList.add("form-control");
        titleInput.disabled = true;
        titleInput.value = question.suri_title;
        questionContainer.appendChild(titleInput);

        // Loop through and create input elements for the question options
        for (let op = 1; (op <= 5) && !(question[`suri_que${op}`] === ''); op++) {
            console.log(op, question.suri_no)
            //     선택 사유 보여줄 모달 창 만들기
            const modal = document.createElement("div");
            modal.classList.add("modal", "fade");
            modal.id = `option${op}Modal${question.suri_no}`;
            modal.setAttribute("tabindex", "-1");
            modal.setAttribute("aria-labelledby", `option${op}ModalLabel`);
            modal.setAttribute("aria-hidden", "true");

            const modalDialog = document.createElement("div");
            modalDialog.classList.add("modal-dialog");

            const modalContent = document.createElement("div");
            modalContent.classList.add("modal-content");

            const modalHeader = document.createElement("div");
            modalHeader.classList.add("modal-header");

            const modalTitle = document.createElement("h5");
            modalTitle.classList.add("modal-title");
            modalTitle.id = `option${op}no${question.suri_no}ModalLabel`;
            modalTitle.textContent = `질문번호 ${question.suri_no} 선택지 ${op}의 사유`;

            const modalCloseButton = document.createElement("button");
            modalCloseButton.classList.add("btn-close");
            modalCloseButton.setAttribute("type", "button");
            modalCloseButton.setAttribute("data-bs-dismiss", "modal");
            modalCloseButton.setAttribute("aria-label", "Close");

            const modalBody = document.createElement("div");
            modalBody.classList.add(`modal-body_op${op}_no${question.suri_no}`);


            modalHeader.appendChild(modalTitle);
            modalHeader.appendChild(modalCloseButton);
            modalContent.appendChild(modalHeader);
            modalContent.appendChild(modalBody);
            modalDialog.appendChild(modalContent);
            modal.appendChild(modalDialog);
            questionContainer.appendChild(modal);

            const optionButton = document.createElement("button");
            optionButton.classList.add("btn", "btn-primary");
            optionButton.setAttribute("type", "button");
            optionButton.setAttribute("data-bs-toggle", "modal");
            optionButton.setAttribute("data-bs-target", `#option${op}Modal${question.suri_no}`);
            optionButton.textContent = "선택 사유";
            questionContainer.appendChild(optionButton);


            const optionLabel = document.createElement("label");
            optionLabel.classList.add("form-label");
            optionLabel.textContent = `선택지 ${op}:`;
            questionContainer.appendChild(optionLabel);

            const resultDiv = document.createElement("div");
            if (result[question.suri_no] === undefined || (isNaN(Math.round(result[question.suri_no][`${op}`] / result[question.suri_no]['total'] * 100)))) {
                resultDiv.textContent = `Result: 0% Total: ${result[question.suri_no]['total']}`;
                // console.log("no total value in result cause NaN")
            } else {
                resultDiv.textContent = `Result: ${Math.round(result[question.suri_no][`${op}`] / result[question.suri_no]['total'] * 100)}% Total: ${result[question.suri_no]['total']}`;
            }
            questionContainer.appendChild(resultDiv);

            const optionInput = document.createElement("input");
            optionInput.type = "text";
            optionInput.classList.add("form-control");
            optionInput.classList.add("ms-3");
            optionInput.disabled = true;

            if (`suri_que${op}` in question) {
                optionInput.value = question[`suri_que${op}`];
                questionContainer.appendChild(optionInput);
            }

        }
        return questionContainer;
    }

    // Function to populate the container with questions
    function populateQuestions() {
        const container = document.getElementById("research-query-container");
        for (let i = 0; i < rsDTO.suri.length; i++) {
            const question = rsDTO.suri[i];
            const questionElement = createQuestionElement(question);
            container.appendChild(questionElement);
        }
    }

    // Call the function to populate questions when the page loads
    window.addEventListener("load", () => {
        populateQuestions();
        //     modal-body_op 로 시작하는 모든 클레스 검색
        const modalBody = document.querySelectorAll('[class^="modal-body_op"]');
        modalBody.forEach(function (modal) {
            // console.log(modal.classList[0]);
            // modal-body_op2_no1
            let op = modal.classList[0].split("_")[1].slice(2);
            let no = modal.classList[0].split("_")[2].slice(2);
            // console.log(op);
            // console.log(no);

            for (let i = 0; i < rsaDTO.length; i++) {
                let rsa = rsaDTO[i];
                if (rsa.sura_no.toString() === no && rsa.sura_item === op && rsa.sura_reason !== "") {
                    console.log({op}, {no}, {rsa});
                    modal.textContent += rsa.sura_reason + "\n";
                }
            }

        })

    });

</script>


</body>
</html>
