<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>OneDay Research</title>
</head>
<body class="custom-background">

<div th:insert="~{fragments/navbar :: nav_bar('home')}"></div>
home!!!
<section>
    <div class=""><h1>a</h1></div>
</section>
<section>
    <div class=""><h1>asdf</h1></div>
</section>
<section>
    <div class=""><h1>asdf</h1></div>
</section>
<section>
    <div class=""><h1>asdf</h1></div>
</section>
<section>
    <div class=""><h1>asdf</h1></div>
</section>
<section>
    <div class=""><h1>asdf</h1></div>
</section>
<section>
    <div class=""><h1>asdf</h1></div>
</section>
<section>
    <div class=""><h1>asdf</h1></div>
</section>
<section>
    <div class=""><h1>asdf</h1></div>
</section>
<section>
    <div class=""><h1>asdf</h1></div>
</section>
<section>
    <div class=""><h1>asdf</h1></div>
</section>
<section>
    <div class=""><h1>asdf</h1></div>
</section>
<section>
    <div class=""><h1>asdf</h1></div>
</section>
<section>
    <div class=""><h1>asdf</h1></div>
</section>
<section>
    <div class=""><h1>asdf</h1></div>
</section>
<section>
    <div class=""><h1>asdf</h1></div>
</section>
<section>
    <div class=""><h1>asdf</h1></div>
</section>
<section>
    <div class=""><h1>asdf</h1></div>
</section>
<section>
    <div class=""><h1>asdf</h1></div>
</section>
<section>
    <div class=""><h1>asdf</h1></div>
</section>
<section>
    <div class=""><h1>asdf</h1></div>
</section>
<section>
    <div class=""><h1>asdf</h1></div>
</section>
<section>
    <div class=""><h1>asdf</h1></div>
</section>
<section>
    <div class=""><h1>asdf</h1></div>
</section>
<section>
    <div class=""><h1> a </h1></div>
</section>
<section>
    <div class=""><h1>asdf</h1></div>
</section>
<section>
    <div class=""><h1>asdf</h1></div>
</section>
<section>
    <div class=""><h1>asdf</h1></div>
</section>
<section>
    <div class=""><h1>asdf</h1></div>
</section>
<section>
    <div class=""><h1>asdf</h1></div>
</section>
</body>
</html>
